{% extends "layout.html" %}

{% block title %}
  Machine Learning
{% endblock %}

{% block main %}
<p><img class="zoom tabla img" src="/static/GraficaGeneral.png" alt=""></p>
&#160&#160<p><img class="zoom tabla img" src="/static/GraficaCircular.png" alt=""></p>
&#160&#160&#160&#160<p>&#160&#160&#160&#160<img height="400" width="700" class="zoom tabla img" src="/static/Graficasuper.png" alt=""></p>

 <h2 class="text text-info">Explicacion</h2>
    <p>Aqui se puede observar hacia donde tienden los datos es decir en que temporada se venden mas vehiculos.
    </p>
    <p>En el primer diagrama podemos ver donde se ubican las temporadas de autos para luego ver su correlacion.
        <br>
        </p>
        <p>
        En el segundo diagrama, vemos en si la correlacion entre las distintas marcas de vehiculos
        <br>
        </p>
        <p>
        En el tercer diagrama hacemos una sobreposicion entre los dos diagramas anteriores, y de ahi podemos concluir que en
        <br>la temporada de Otoño es donde se venden mas automoviles y que existen coorelaciones inversas entre distintas marcas con
        respecto a las ventas.
        <br>
        </p>
        <p>
        Por ejemplo:
        <br>
        Nissan tiene una correlacion inversa con la marca Land Roveres decir que venden aproximadamente la misma cantidad de autos pero en
        distinta.
     </p>
{% endblock %}
