{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Usuario" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Contraseña" type="password"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirmar Contraseña" type="password"/>
        </div>
        <button class="btn btn-primary" type="submit">Registrarse</button>
    </form>
{% endblock %}
